<template>
  <div id="app">
    <div class="container">
	<div v-if="loginForm" class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Đăng nhập</h3>		
			</div>
			<div class="card-body">
				<div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" v-model="username" class="form-control" placeholder="Tài khoản">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" v-model="password" class="form-control" placeholder="Mật khẩu">
					</div>
				
					<div class="form-group">
						<input type="button" @click="handleGenSmsLogin()" value="Đăng nhập" class="btn login_btn">
            <div class="login-social-group-btn">
              <facebook-login class="button"
              logoutLabel="Signed in Facebook"
              loginLabel="Signed in Facebook"
              appId="132071482380349"
              @login="handleFacebookLogin">
            </facebook-login>
            <GoogleLogin :params="params" :renderParams="renderParams" :onSuccess="onSuccess"></GoogleLogin>
            </div>
          </div>
          <a @click="loginForm = false"  class="no-account">Chưa có tài khoản!</a>
				</div>
			</div>
      
		</div>
	</div>
  <div v-if="!loginForm" class="d-flex justify-content-center h-100 register-form">
		<div class="card">
			<div class="card-header">
				<h3>Đăng ký</h3>		
			</div>
			<form class="card-body">
				<div>
					<div class="input-group form-group">
           <label for="Email1">Email đăng ký</label>
						<input type="email" required v-model="register.email" class="form-control" placeholder="Email">
						<span class="pass" v-if="validate.email">Email không đúng định dạng</span>
					</div>
          <div class="input-group form-group">
          <label  for="fullName">Họ và tên</label>
						<input type="text" required v-model="register.name" class="form-control" placeholder="Họ và tên">
						<span class="pass" v-if="validate.name">Không được để trống</span>
					</div>
          <div class="input-group form-group">
          <label  for="fullName">Số điện thoại</label>
						<input type="text" required v-model="register.phone" class="form-control" placeholder="Số điện thoại">
						<span class="pass" v-if="validate.phone">Không được để trống</span>
					</div>

					<div class="input-group form-group">
         <label style="float: left;" for="Password1">Nhập mật khẩu</label>
						<input type="password" required v-model="register.password" @change="handlePass()" class="form-control" placeholder="Mật khẩu">
            <span class="pass" v-if="validate.numberPass">Tối thiểu 5 ký tự</span>
					</div>
          <div class="input-group form-group">
          <label for="Password2">Nhập lại mật khẩu</label>
						<input type="password" required v-model="register.passwordConfirm" @change="handleConfirm()" class="form-control" placeholder="Mật khẩu">
            <span class="pass" v-if="validate.confirmPass">Mật khẩu không khớp</span>
					</div>
					<div class="form-group">
						<input type="button" @click="handleGenSms()" value="Đăng ký" class="btn float-right login_btn">
					</div>
          
				</div>
        
			</form>
      <a @click="loginForm = true"  class="no-account has-ac ">Đã có tài khoản?</a>
		</div>
	</div>
  <modal width="250" height="140" name="register" :show="true" :clickToClose="false">
    <div class="modal-otp">
      <span class="otp-title">Mã OTP</span>
      <input type="number" v-model="otp" class="otp-input form-control"/>
      <button class="btn otp-btn login_btn" @click="handleRegister()">Đăng ký</button>
    </div>
  </modal>

  <modal width="250" height="140" name="login" :show="true" :clickToClose="false">
    <div class="modal-otp">
      <span class="otp-title">Mã OTP</span>
      <input type="number" v-model="otp" class="otp-input form-control"/>
      <button class="btn otp-btn login_btn" @click="handleSubmit()">Đăng nhập</button>
    </div>
  </modal>
</div>
  </div>
</template>

<script>
// import Login from './components/Login.vue'
// import axios from 'axios'
const axios = require('axios');
import GoogleLogin from 'vue-google-login';
// import VFacebookLogin from 'vue-facebook-login-component'
import facebookLogin from 'facebook-login-vuejs';
const service = axios.create({
  baseURL: process.env.VUE_APP_BASE_API,
  timeout: 10000, // Request timeout
});
//eslint-disable-next-line no-console 
export default {
  name: 'App',
  components: {
    GoogleLogin,
    // VFacebookLogin,
    facebookLogin
  },
  data(){
    return{
      username:null,
      password:null,
      loginForm: true,
      otp:null,
      register:{
        username:null,
        name:null,
        password:null,
        passwordConfirm:null,
        email: null,
        phone:null,
      },
      validate:{
        confirmPass: false,
        numberPass: false, 
        email:false,
        username:false,
        name:false,
        phone:null,
    },
     params: {
      client_id: "567886304351-923ap0cmcs95ne324m1oteapk2ld60gc.apps.googleusercontent.com"
    },
    renderParams: {
      width: 175,
      height: 34,
      marginTop: 15,
      longtitle: true,
    }
  }},
  created(){
    const url_string = window.location.href
    const url = new URL(url_string);
    let check = url.searchParams.get("check");
    const token = localStorage.getItem("token");
    if(check == "login"){
      service.get("/api/user/sso_check",{
          headers: {
              Authorization: 'Bearer ' + token //the token is a variable which holds the token
          }
      }).then(res=>{
        if(res && res.data){
         window.location.replace(res.data.redirect);
        }
      }).catch(err =>{
        console.log(err)
         let request = url.searchParams.get("request");
        window.location.replace("http://localhost:8081?request=" + request);
      })
    }
  },
  methods:{
    handlePass(){
      if(!this.register.password || this.register.password.length < 5 ){
        this.validate.numberPass = true
      }else {
        this.validate.numberPass = false
      }
    },
    validateForm(){
      this.reset();
      let isValid= true;
      if(!this.register.password || this.register.password.length < 5 ){
        this.validate.numberPass = true
        isValid = false;
      }
      if(!this.register.email || this.register.email.length < 5 ){
        this.validate.email = true;
        isValid = false;
      }
      if(!this.register.phone || this.register.phone.length < 10 ){
        this.validate.phone = true;
        isValid = false;
      }
      if(!this.register.name || this.register.name.length == 0){
        this.validate.name = true
        isValid = false;
      }
      return isValid;
    },
    show (name) {
    this.$modal.show(name);
  },
  hide (name) {
    this.$modal.hide(name);
  },
  reset(){
    this.validate = {
        confirmPass: false,
        numberPass: false, 
        email:false,
        username:false,
        name:false,
        phone:false,
    }
  },
  resetForm(){
    this.register = {
        username:null,
        name:null,
        password:null,
        passwordConfirm:null,
        email: null,
        phone:null,
      }
  },
   handleGenSms(){
    if(!this.validateForm()){
      return;
    }
    this.reset();
      service.post(`api/user/sms/generate?email=${this.register.email}`)
      .then(res =>{
        if(res){
           this.show("register")
        }
      })
      .catch(err=>{
        if(err && err.response.status == 409){
          alert("Email đã tồn tại")
        }
      });
  },
  
  handleGenSmsLogin(){
      const data = {
      username: this.username,
      password: this.password
    }
      service.post(`api/user/otp/login`,data)
      .then(res =>{
        if(res){
          this.show("login")
        }
      })
      .catch(err =>{
        console.log(err)
        alert("Tài khoản hoặc mật khẩu không đúng")
      });
  },
   async onSuccess(googleUser) {
       if(googleUser && googleUser.mc){
         const accessToken = googleUser.mc.access_token;
         const inforUser = await axios.post(`https://www.googleapis.com/oauth2/v3/userinfo?access_token=${accessToken}`) 
         if(inforUser && inforUser.data){
              const data = {
          login: inforUser.data.email,
          password: "nopassword",
          firstName: inforUser.data.given_name,
          lastName: inforUser.data.family_name,
          email: inforUser.data.email,
          socialId: inforUser.data.sub,
          authorities:["USER"]
        }
        this.checkLogin(data);
         }
       }
     
    },
    checkLogin(data){
      const url_string = window.location.href
        const url = new URL(url_string);
        let request = url.searchParams.get("request");
        let hostRedirect= ""
        if(request == null){
          request = process.env.VUE_APP_ELEARNING;
          hostRedirect = process.env.VUE_APP_ELEARNING+"/login/sso";
        }
        hostRedirect ="http://" +new URL(request).host +"/login/sso";
        service.post(`api/user/check?request=${request}&redirect=${hostRedirect}`,data).then((res) => {
          if(res && res.data){
            window.location.replace(res.data.redirect);
            localStorage.setItem("token",res.data.token)
          }else{
              alert("Đăng nhập thất bại");
          }
        })
    },
    handleFacebookLogin(res){
      console.log("login",res);
      if(res && res.response){
        axios.get(`https://graph.facebook.com/v10.0/${res.response.authResponse.userID}?fields=email,name&access_token&access_token=${res.response.authResponse.accessToken}`).then(res =>{
          if(res && res.data){
             const data = {
              login: res.data.email,
              password: "nopassword",
              firstName: res.data.name,
              email: res.data.email,
              socialId: res.data.id,
              authorities:["USER"]
            }
            this.checkLogin(data);
          }
        })
      }

    },
    handleConfirm(){
      if(this.register.password !== this.register.passwordConfirm){
        this.validate.confirmPass =true
      }else{
        this.validate.confirmPass =false
      }
    },
    handleRegister(){
       const data = {
      login: this.register.email,
      password: this.register.password,
      firstName: this.register.name,
      phoneNumber: this.register.phone,
      email: this.register.email,
      authorities:["USER"]
       }
        
      service.post(`/api/user/register?otp=${this.otp}`,data).then((res) => {
      if(res && res.data){
        alert("Đăng ký thành công");
        this.loginForm = true;
        this.hide("register")
      }else{
         alert("Đăng ký thất bại");
         this.hide("register")
      }
      this.hide()
      this.resetForm()
    }).catch(err=>{
        if(err && err.response.status == 409){
          alert("Email đã tồn tại")
        }
       this.hide("register")
    })
    this.otp=null
    },
    handleSubmit(){
      const data = {
      username: this.username,
      password: this.password
    }
    const url_string = window.location.href
    const url = new URL(url_string);
    let request = url.searchParams.get("request");
    let hostRedirect= ""
    if(request == null){
       request = process.env.VUE_APP_ELEARNING;
       hostRedirect = process.env.VUE_APP_ELEARNING+"/login/sso";
    }
    hostRedirect ="http://" +new URL(request).host +"/login/sso";
    this.hide("login")
    service.post(`api/user/authenticate?otp=${this.otp}&request=${request}&redirect=${hostRedirect}`,data).then((res) => {
      if(res && res.data){
         window.location.replace(res.data.redirect);
         localStorage.setItem("token",res.data.token)
      }else{
          alert("Tài khoản hoặc mật khẩu không đúng");
      }
    }).catch(err =>{
      console.error(err)
      alert("Đăng nhập thất bại")
    })
    this.otp=null
  }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  
}
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}
.otp-btn{
margin-top: 5px;}
.label{
  color: white !important;
  width: 100%;
  display: block;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.otp-input{
width: 100px;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}
.login-social-group-btn{
  display: flex;
  margin-top: 31px;
  color: #000 !important;
  font-size: 13px !important;
}
.login-social-group-btn  .container.button button{
  font-size: 13px !important;
    min-width: 170px !important;
    padding: 0px 17px 0px 27px;
}
.spinner{
display: none;
}
.modal-otp{
display: flex;
flex-direction: column;
padding: 15px 10px;
align-items: center;
}
.login-social-group-btn  .container.button button .spinner{
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.login-social-group-btn  .container.button button img{
  position: absolute;
    top: 6px;
    height: 20px;
    left: 0px;
    width: 20px;
}
.login-social-group-btn  .container.button{
margin-bottom: 5px;
font-size: 13px !important;
padding: 0;
text-align: left;

}
.has-ac{
margin-top: 5px !important;}
.social_icon span:hover{
color: white;
cursor: pointer;
}
#google-signin-btn-2{
margin-top: 5px;}
.card-header h3{
color: white;
}
.no-account{
  margin-top: 10px;
}

.form-group .btn{
  width: 100%;
  margin-top: 25px;
}
.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{

background-color: white;
}
.no-account{
  color: white !important;
  cursor: pointer;
}

.links{
color: white;
}
.register-form .form-group{
  flex-direction: column;
}
.register-form .form-group label{
  text-align: start;
  color:#fff;
}
.register-form .form-group input{
  width: 100%;
} 
.register-form .card{
  height: 100%;
} 
.pass{
  color: red ;
  text-align: start;
}
.links a{
margin-left: 4px;
}
</style>
